In [26]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["x", "y", "z", "w"])

In [15]:
df.head()
#head(#) lets you see that row or the first 5 rows by default
#tail(#) lets you see that row or the last 5 rows by default
df.tail(2)

   A  B  C
y  4  5  6
z  7  8  9

In [28]:
df.info()
#info() gives you a summary of the DataFrame, including the number of non-null entries and data types

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, x to w
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [18]:
df.describe()
#describe() provides a statistical summary of the DataFrame, including count, mean, std, min, max, and quartiles

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [ ]:
df.nunique()
#nunique() returns the number of unique values in each column

#yo could dop df["A"].nunique()
#nunique() can also be applied to a specific column to get the count of unique values in that column

A    3
B    3
C    3
dtype: int64

In [27]:
df.shape
#shape returns a tuple representing the dimensions of the DataFrame (rows, columns)

(4, 3)

In [29]:
df.size
#size returns the total number of elements in the DataFrame (rows * columns)

12